<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1037388754263-ob29hhe3qksqstk0u4tkqp20gddgdktp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1037388754263-ob29hhe3qksqstk0u4tkqp20gddgdktp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1037388754263-02k2mn2sdgnjm5fjgt3pj8msi1j1aj6h.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVg9Y9xzDlDYXO6KlXeozR0BnEA3h6z8k</string>
	<key>GCM_SENDER_ID</key>
	<string>1037388754263</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.joytech.hstasker</string>
	<key>PROJECT_ID</key>
	<string>homeservicedev-348702</string>
	<key>STORAGE_BUCKET</key>
	<string>homeservicedev-348702.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1037388754263:ios:9590fd31d5dd3c028fe212</string>
</dict>
</plist>